<%
	ref = proposicao.descricao.split("=>").last 
	if ref
		descricao = proposicao.descricao.gsub /#{ref}/, link_to(ref, Proposicao.find_by_descricao(ref))
	else 
		descricao = proposicao.descricao
	end
%>
<h1><%= descricao %></h1>


<div class="proposicao" id="<%= proposicao.id_sileg %>">
	
	<div class="campo">
		<div class="meta">Código</div> 
		<div id="id_sileg" class="atributo">

			<%= descricao %>  [<%=h proposicao.id_sileg %>] <%= link_to "Íntegra do documento", proposicao.media_link.split(" ").last unless proposicao.media_link.nil? %>
		</div>
	</div>
	
	<div class="campo">
		<div class="meta">Autor</div>
		<div id="autor" class="atributo">
			<%=h proposicao.autor %>
		</div>
	</div>
	
	<div class="campo">
		<div class="meta">Data da Apresentação</div>
		<div id="apresentacao" class="atributo">
			<%=h proposicao.apresentacao %>
		</div>
	</div>

	<div class="campo">
		<div class="meta">Apreciação</div>
		<div id="apreciacao" class="atributo">
			<%=h Hpricot.parse(proposicao.apreciacao).inner_text unless proposicao.apreciacao.nil? %>
		</div>
	</div>

	<div class="campo">
		<div class="meta">Regime de Tramitacao</div>
		<div id="tramitacao" class="atributo">
			<%=h proposicao.tramitacao %>
		</div>
	</div>

	<div class="campo">
		<div class="meta">Órgão</div> 
		<div id="orgao" class="atributo">
			<%=h proposicao.orgao %>
		</div>
	</div>

	<div class="campo">
		<div class="meta">Situação</div>
		<div id="situacao" class="atributo">
			<%=h Hpricot.parse(proposicao.situacao).inner_text %>
		</div>
	</div>

	<div class="campo">
		<div class="meta">Ementa</div>
		<div id="ementa" class="atributo">
			<%=h proposicao.ementa %>
		</div>
	</div>

	<div class="campo">
		<div class="meta">Explicação da Ementa</div>
		<div id="explicacao" class="atributo">
			<%=h proposicao.explicacao || " " %>
		</div>
	</div>

	<div class="campo">
		<div class="meta">Despacho</div>
		<div id="despacho" class="atributo">
			<%= Hpricot.parse(proposicao.despacho).inner_text %>
		</div>
	</div>

	<div class="campo">
		<div class="meta">Tags</div>
		<div id="<%= "tags-#{proposicao.id_sileg}" %>" class="associacao">
			<% proposicao.tags.each do |tag| %>
			<div class="tag">
				<div id="termo" class="atributo">
					<div class="meta"></div>
					<%= tag.termo %>
				</div>
			</div>
			<% end -%>
		</div>
	</div>

	<div class="campo">
		<div class="meta">(<%= proposicao.andamentos.count(:id) %>) Andamentos - Último movimento</div>
		<div id="<%= "andamentos-#{proposicao.id}" %>" class="associacao">		
			<% if andamento = proposicao.andamentos.find(:first, :order => "data DESC") %>
			<div class="andamento">
				<div class="meta">Descricao</div>
				<div id="descricao" class="atributo">
					<%= Hpricot.parse(andamento.descricao).inner_text %>
				</div>
				<div class="meta">Observações</div>
				<div id="local" class="atributo">
					<%= andamento.local %>
				</div>
				<div class="meta">Data</div>
				<div id="data" class="atributo">
					<%= andamento.data %>
				</div>
			</div>
			<% end %>
		</div>
	</div>

	<div class="nav_container">
		<span class="nav"> <%= link_to 'Detalhes', proposicao_path(proposicao) %></span> | 
		<span class="nav"> <%= link_to 'XML', proposicao_path( proposicao, :format => :xml) %></span> | 
		<span class="nav"> <%= link_to 'Json', proposicao_path( proposicao, :format => :json) %></span> | 
		<span class="nav"> <%= link_to 'YAML', proposicao_path( proposicao, :format => :yaml) %></span> | 
		<span class="nav">
			<%= link_to "Consultar na página da câmara", "http://www.camara.gov.br/sileg/Prop_Detalhe.asp?id="+ proposicao.id_sileg.to_s %> 
		</span> 
		<div style="clear:both"></div>
		
		<small class="meta">
			<p>
				Criada em <%= proposicao.created_at %> | 
				Último update <%= proposicao.updated_at %> | 
				Elegível para update <%= proposicao.ellegible_for_update ? "sim" : "não" %>
			</p>
		</small>
		<div style="clear:both"></div>
	</div>
</div>
