<h1><%=h proposicao.descricao %></h1>
<small class="meta">
	<p>Criada em <%= proposicao.created_at %></p>
	<p>Último update <%= proposicao.updated_at %></p>
	<p>Elegível para update <%= proposicao.ellegible_for_update ? "sim" : "não" %></p>
</small>

<div class="proposicao" id="<%= proposicao.id_sileg %>">
	<div id="id_sileg" class="atributo">
		<div class="meta">Código</div> 
		<%= proposicao.descricao %>
	</div>
	<div id="media_link" class="atributo">
		<div class="meta">Media link</div>
		<%= link_to "Íntegra do documento", proposicao.media_link.split(" ").last unless proposicao.media_link.nil? %>
	</div>
	<div id="id_sileg" class="atributo">
		<div class="meta">Código da proposição</div> 
		<%=h proposicao.id_sileg %> 
	</div>
	<div id="orgao" class="atributo">
		<div class="meta">Órgão</div> 
		<%=h proposicao.orgao %>
	</div>
	<div id="situacao" class="atributo">
		<div class="meta">Situação</div> 
		<%=h proposicao.situacao %>
	</div>
	<div id="autor" class="atributo">
		<div class="meta">Autor</div>
		<%=h proposicao.autor %>
	</div>
	<div id="apresentacao" class="atributo">
		<div class="meta">Data da Apresentação</div>
		<%=h proposicao.apresentacao %>
	</div>
	<div id="ementa" class="atributo">
		<div class="meta">Ementa</div>
		<%=h proposicao.ementa %>
	</div>
	<div id="explicacao" class="atributo">
		<div class="meta">Explicação da Ementa</div>
		<%=h proposicao.explicacao %>
	</div>	
	<div id="apreciacao" class="atributo">
		<div class="meta">Apreciação</div>
		<%=h proposicao.apreciacao %>
	</div>
	<div id="tramitacao" class="atributo">
		<div class="meta">Regime de Tramitacao</div>
		<%=h proposicao.tramitacao %>
	</div>
	<div id="despacho" class="atributo">
		<div class="meta">Despacho</div>
		<%= proposicao.despacho %>
	</div>
	<%= 
		link_to_function "Ocultar Tags" do |page|
			page.visual_effect :toggle_blind, "tags-#{proposicao.id_sileg}"
		end 
	%>
	<div id="<%= "tags-#{proposicao.id_sileg}" %>" class="associacao">
		<h4 class="meta">Tags</h4>
		<% proposicao.tags.each do |tag| %>
		<div class="tag">
			<div id="termo" class="atributo">
				<div class="meta"></div>
				<%= tag.termo %>
			</div>
		</div>
		<% end -%>
	</div>
	<%= 
		link_to_function "Ocultar andamentos" do |page|
			page.visual_effect :toggle_blind, "andamentos-#{proposicao.id_sileg}"
		end 
	%>
	<div id="<%= "andamentos-#{proposicao.id_sileg}" %>" class="associacao">
		<h4 class="meta">(<%= proposicao.andamentos.count(:id) %>) Andamentos</h4>
		<% proposicao.andamentos.find(:all, :order => "data DESC").each do |andamento| %>
		<div class="andamento">
			<div id="descricao" class="atributo">
				<div class="meta">Descricao</div>
				<%= andamento.descricao %>
			</div>
			<div id="local" class="atributo">
				<div class="meta">Local</div>
				<%= andamento.local %>
			</div>
			<div id="data" class="atributo">
				<div class="meta">Data</div>
				<%= andamento.data %>
			</div>
		</div>
		<% end -%>
	</div>
	
	<div class="nav_container">
		<span class="nav"> <%= link_to 'Detalhes', proposicao_path(proposicao.id_sileg) %></span> | 
		<span class="nav"> <%= link_to 'XML', proposicao_path( proposicao.id_sileg, :format => :xml) %></span> | 
		<span class="nav"> <%= link_to 'Json', proposicao_path( proposicao.id_sileg, :format => :json) %></span> | 
		<span class="nav"> <%= link_to 'YAML', proposicao_path( proposicao.id_sileg, :format => :yaml) %></span> | 
		<span class="nav">
			<%= link_to "Consultar na página da câmara", "http://www.camara.gov.br/sileg/Prop_Detalhe.asp?id="+ proposicao.id_sileg.to_s %> 
		</span> 
	</div>
</div>
