<div class="proposicao" id="<%= proposicao.id_sileg %>">
	<div id="id_sileg" class="atributo">
		<span class="meta">Código:</span> 
		<%= proposicao.descricao %>
	</div>
	<div id="media_link" class="atributo">
		<span class="meta">Media link:</span>
		<%= link_to "Íntegra do documento", proposicao.media_link.split(" ").last unless proposicao.media_link.nil? %>
	</div>
	<div id="id_sileg" class="atributo">
		<span class="meta">Código da proposição:</span> 
		<%=h proposicao.id_sileg %> 
	</div>
	<div id="orgao" class="atributo">
		<span class="meta">Órgão:</span> 
		<%=h proposicao.orgao %>
	</div>
	<div id="situacao" class="atributo">
		<span class="meta">Situação:</span> 
		<%=h proposicao.situacao %>
	</div>
	<div id="autor" class="atributo">
		<span class="meta">Autor:</span>
		<%=h proposicao.autor %>
	</div>
	<div id="apresentacao" class="atributo">
		<span class="meta">Data da Apresentação:</span>
		<%=h proposicao.apresentacao %>
	</div>
	<div id="ementa" class="atributo">
		<span class="meta">Ementa:</span>
		<%=h proposicao.ementa %>
	</div>
	<div id="explicacao" class="atributo">
		<span class="meta">Explicação da Ementa:</span>
		<%=h proposicao.explicacao %>
	</div>	
	<div id="apreciacao" class="atributo">
		<span class="meta">Apreciação:</span>
		<%= proposicao.apreciacao %>
	</div>
	<div id="tramitacao" class="atributo">
		<span class="meta">Regime de Tramitacao:</span>
		<%= proposicao.tramitacao %>
	</div>
	<div id="despacho" class="atributo">
		<span class="meta">Despacho:</span>
		<%= proposicao.despacho %>
	</div>
	<%= 
		link_to_function "Ocultar Tags" do |page|
			page.visual_effect :toggle_blind, "tags-#{proposicao.id_sileg}"
		end 
	%>
	<div id="<%= "tags-#{proposicao.id_sileg}" %>" class="associacao">
		<h4 class="meta">Tags:</h4>
		<% proposicao.tags.each do |tag| %>
		<div class="tag">
			<div id="termo" class="atributo">
				<span class="meta"></span>
				<%= tag.termo %>
			</div>
		</div>
		<% end -%>
	</div>
	
	
	<%= 
		link_to_function "Ocultar andamentos" do |page|
			page.visual_effect :toggle_blind, "andamentos-#{proposicao.id_sileg}"
		end 
	%>
	<div id="<%= "andamentos-#{proposicao.id_sileg}" %>" class="associacao">
		<h4 class="meta">Andamentos:</h4>
		<% proposicao.andamentos.each do |andamento| %>
		<div class="andamento">
			<div id="descricao" class="atributo">
				<span class="meta">Descricao:</span>
				<%= andamento.descricao %>
			</div>
			<div id="local" class="atributo">
				<span class="meta">Local:</span>
				<%= andamento.local %>
			</div>
			<div id="data" class="atributo">
				<span class="meta">Data:</span>
				<%= andamento.data %>
			</div>
		</div>
		<% end -%>
	</div>
	
	
	<div class="nav_container">
		<span class="nav"> <%= link_to 'Detalhes', proposicao_path(proposicao.id_sileg) %></span> | 
		<span class="nav"> <%= link_to 'XML', proposicao_path( proposicao.id_sileg, :format => :xml) %></span> | 
		<span class="nav"> <%= link_to 'Json', proposicao_path( proposicao.id_sileg, :format => :json) %></span> | 
		<span class="nav"> <%= link_to 'YAML', proposicao_path( proposicao.id_sileg, :format => :yaml) %></span> | 
		<span class="nav">
			<%= link_to "Consultar na página da câmara", "http://www.camara.gov.br/sileg/Prop_Detalhe.asp?id="+ proposicao.id_sileg.to_s %> 
		</span> 
	</div>
	<hr noshade="noshade" height="1px">
	<small>Criada em <%= proposicao.created_at %>, ultimo update: <%= proposicao.updated_at %>
	Elegível para update: <%= proposicao.ellegible_for_update ? "sim" : "não" %>
	</small>
</div>