<h1>
	Listagem de proposições
	<small>(<%= @num_proposicaos %> no estoque)</small>
</h1>
<%= render :partial => 'search_form' %>

<%= will_paginate @proposicaos %>
<%= render :partial => 'proposicao', :collection => @proposicaos %>
<%= will_paginate @proposicaos %>

<% content_for :menu do %>
	<ul class="menu">
		<li>Proposições</li>
	</ul>
<% end %>