<h1><%= "#{@total_hits}" %> 
Resultados de busca em proposições para <span class="highlight"><%= "'#{params[:q]}'" %></span>
	</h1>
<%= render :partial => 'search_form' %>
<%= render :partial => 'shared/paginate', :locals => { :collection => @proposicaos }%>

<% @proposicaos.each do |proposicao| %>
	<%= render :partial => 'proposicao', :collection => @proposicaos %>
<% end %>

<%= render :partial => 'shared/paginate', :locals => { :collection => @proposicaos }%>

<%# link_to 'Nova proposicao', new_proposicao_path %>