<h1><%= "#{@total_hits}" %> 
Resultados para <span class="highlight"><%= "'#{params[:q]}'" %></span>
	</h1>
<%= will_paginate @proposicaos %>
<% @proposicaos.each do |proposicao| %>
	<%= render :partial => 'proposicao', :collection => @proposicaos %>
<% end unless @proposicaos.empty? %>
<%= will_paginate @proposicaos %>

<% content_for :menu do %>
	<ul class="menu">
		<li>Proposições</li>
	</ul>
<% end %>