<h1>Listing paginas</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th>Secão</th>
    <th>Conteúdo</th>
  </tr>

<% @paginas.each do |pagina| %>
  <tr>
    <td><%=h pagina.titulo %></td>
    <td><%=h pagina.secao %></td>
    <td><%=h pagina.conteudo %></td>
    <td><%= link_to 'Exibir', pagina %></td>
    <td><%= link_to 'Editar', edit_pagina_path(pagina) %></td>
    <td><%= link_to 'Apagar', pagina, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova pagina', new_pagina_path %>