<h1>Login</h1>

<% form_for(@user_session) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password, "Senha" %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit 'Login' %>
  </p>
<% end %>

<%= link_to 'Criar uma conta', new_user_path %>